<div data-bind="ifnot: Project()">
    <div>
        <h2>Add New Projects</h2>
    </div>

    <div>
        <label for="title">@Html.KnockoutHelperFor("Title", "p")</label>
        <input data-bind="value: $root.Title" type="text" title="Name" />
    </div>

    <div>
        <label for="name">@Html.KnockoutHelperFor("ZipCode", "p")</label>
        <input data-bind="value: $root.ZipCode" type="text" title="Name" />
    </div>
    <!--
    <div>
        <label for="category">@Html.KnockoutHelperFor("City", "p")</label>
        <input data-bind="value: $root.City.Name" type="text" title="Category" />
    </div>
    
    <div>
        <label for="category">@Html.KnockoutHelperFor("Address", "p")</label>
        <input data-bind="value: $root.Address" type="text" title="Category" />
    </div>
    
    <div>
        <label for="category">@Html.KnockoutHelperFor("Architect", "p")</label>
        <input data-bind="value: $root.Architect" type="text" title="Category" />
    </div>
    
    <div>
        <label for="category">@Html.KnockoutHelperFor("", "p")</label>
        <input data-bind="value: $root.DateModified" type="text" title="Category" />
    </div>
   
    <div>
        <label for="category">@Html.KnockoutHelperFor("PlanningApplication", "p")</label>
        <input data-bind="value: $root.Description" type="text" title="Category" />
    </div>
    
    <div>
        <label for="category">@Html.KnockoutHelperFor("SubscribeTermsPlanned", "p")</label>
        <input data-bind="value: $root.FinishDate" type="text" title="Category" />
    </div>
    
    <div>
        <label for="category">@Html.KnockoutHelperFor("Builder", "p")</label>
        <input data-bind="value: $root.Owner" type="text" title="Category" />
    </div>
    
    <div>
        <label for="category">@Html.KnockoutHelperFor("ConstructionCost", "p")</label>
        <input data-bind="value: $root.Price" type="text" title="Category" />
    </div>
    
    <div>
        <label for="category">@Html.KnockoutHelperFor("AreaVolume", "p")</label>
        <input data-bind="value: $root.Space" type="text" title="Category" />
    </div>
    
    <div>
        <label for="category">@Html.KnockoutHelperFor("SubscribeTermsPlanned", "p")</label>
        <input data-bind="value: $root.StartDate" type="text" title="Category" />
    </div>
         -->
    <br />
    <div>
        <button data-bind="click: $root.create">Save</button>
        <button data-bind="click: $root.reset">Reset</button>
        <button data-bind="click: $root.cancel">Cancel</button>
    </div>
</div>