@using TP1.Helpers
<table id="products1" class="nav nav-pills nav-justified table table-hover table-striped table-bordered table-condensed" data-bind="visible: displayGrid">
    <thead>
        <tr>
            <th><p>ID</p></th>
            <td><input type="checkbox" data-bind="event: { change: function (data, event) { $root.UnselectedProjectsModule().updateProjects(Projects(), event) } }, checked: $root.UnselectedProjectsModule().allProjectsChecked(Projects)"><br></td>
            <th>@Html.KnockoutHelperFor("Title", "p")</th>
            <th>@Html.KnockoutHelperFor("ZipCode", "p")</th>
            <th>@Html.KnockoutHelperFor("City", "p")</th>
            <th>@Html.KnockoutHelperFor("DateAdded", "p")</th>
            <th>@Html.KnockoutHelperFor("Action", "p")</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Projects">
        <tr>
            <td data-bind="text: Id"></td>
            <td><input type="checkbox" data-bind="event: { change: $root.UnselectedProjectsModule().updateProject }, checked: $root.UnselectedProjectsModule().projectChecked(Id)"><br></td>
            <td class="col-md-5" data-bind="text: Title, click: $root.view"></td>
            <td class="col-md-1" data-bind="text: ZipCode, click: $root.view"></td>
            <td class="col-md-2" data-bind="text: City, click: $root.view"></td>
            <td class="col-md-1" data-bind="text: DateAdded, click: $root.view"></td>
            <td class="col-md-3" >
                <button data-bind="click: $root.edit, text: $root.langModule().language().Edit" class ="col-md-6 btn-primary btn"></button>
                <button data-bind="click: $root.delete, text: $root.langModule().language().Delete" class ="col-md-6 btn-primary btn"></button>
            </td>
        </tr>
    </tbody>
     <tfoot>
        <tr>
            <td colspan = "7">
                <div class="pagerWrap">
                    <ul class="pager">
                        <li class="pagerFirst" data-bind="click: GridModule().selectFirst"><a href="#" data-bind="    text: langModule().language().First"></a></li>
                        <li class="pagerPrev" data-bind="click: GridModule().selectPrevious"><a href="#" data-bind="    text: langModule().language().Previous"></a></li>
                        <li class="pagerCurrent">
                            @Html.KnockoutHelperFor("NumberOfTotalPages", "span", "", "GridModule().searchOptions().pageIndex()", "GridModule().totalPages()")
                        </li>
                        <li class="pagerNext" data-bind="click: GridModule().selectNext"><a href="#" data-bind="    text: langModule().language().Next"></a></li>
                        <li class="pagerLast" data-bind="click: GridModule().selectLast"><a href="#" data-bind="    text: langModule().language().Last"></a></li>
                        <li>
                             <!--ko text: langModule().language().ProjectsPerPage --><!--/ko-->
                            <select data-bind="options: GridModule().itemPerPage, value: GridModule().searchOptions().pageSize"></select>
                        </li>                    
                    </ul>   
                </div>
            </td>
        </tr>  
    </tfoot>
</table>