@using TP1.Helpers
<table id="products1" class="nav nav-pills nav-justified table table-hover table-striped table-bordered table-condensed" data-bind="visible: displayGrid">
    <thead>
        <tr>
            <th><p>ID</p></th>
            <th>@Html.KnockoutHelperFor("Title", "p")</th>
            <th>@Html.KnockoutHelperFor("ZipCode", "p")</th>
            <th>@Html.KnockoutHelperFor("City", "p")</th>
            <th>@Html.KnockoutHelperFor("DateAdded", "p")</th>
            <th>@Html.KnockoutHelperFor("Action", "p")</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Projects">
        <tr>
            <td style="width: 3%" data-bind="text: Id"></td>
            <td style="width: 55%" data-bind="text: Title"></td>
            <td style="width: 7%" data-bind="text: ZipCode"></td>
            <td style="width: 10%" data-bind="text: City.Name"></td>
            <td style="width: 10%" data-bind="text: DateAdded"></td>
            <td style="width: 15%">
                @Html.KnockoutHelperForButton("Edit", "click: $root.edit", "col-md-6 btn-primary btn")
                @Html.KnockoutHelperForButton("Delete", "click: $root.delete", "col-md-6 btn-primary btn")
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan = "6">
                <div class="pagerWrap">
                    <ul class="pager">
                        <li class="pagerFirst" data-bind="click: selectFirst"><a href="#" data-bind="text: language().First"></a></li>
                        <li class="pagerPrev" data-bind="click: selectPrevious"><a href="#" data-bind="text: language().Previous"></a></li>
                        <li class="pagerCurrent">
                            @Html.KnockoutHelperFor("NumberOfTotalPages", "span", "", "searchOptions().pageIndex()", "totalPages()")
                        </li>
                        <li class="pagerNext" data-bind="click: selectNext"><a href="#" data-bind="text: language().Next"></a></li>
                        <li class="pagerLast" data-bind="click: selectLast"><a href="#" data-bind="text: language().Last"></a></li>
                    </ul>   
                </div>
            </td>
        </tr>  
    </tfoot>
</table>