@Html.KnockoutHelperFor("From", "span")
﻿<input id="dateFrom" type="text" data-bind="datepicker: {}, value: $root.DateFrom" />
@Html.KnockoutHelperFor("To", "span")
<input id="dateTo" type="text" data-bind="datepicker: {}, value: $root.DateTo" />
<button data-bind="click: $root.tryExport">Export</button>
<button data-bind="click: $root.add">Add</button>
    @Html.Partial("~/Views/Report/_Grid.cshtml")
<br />
<div style="border-top: solid 2px  #282828; width: 430px; height: 10px">&nbsp;</div>
<div data-bind="visible: displayForm">
    @Html.Partial("~/Views/Report/_EditProjectForm.cshtml")
</div>

<div data-bind="visible: displayExport">
    <div>
        <div>
            <h2>Export projects</h2>
        </div>
        <div>
            <label for="email">@Html.KnockoutHelperFor("Email", "p")</label>
            <input data-bind="value: $root.Email" type="text" title="Email" name="email" />
        </div>
        <div>
            <label for="type">@Html.KnockoutHelperFor("Type", "p")</label>
            <select data-bind="options: $root.ExportModels,
                       optionsText: 'name',
                       value: 'value'" name="type"></select>
        </div>
        <br />
        <div>
            <button data-bind="click: $root.export">Export</button>
            <button data-bind="click: $root.hideExport">Cancel</button>
        </div>
    </div>
</div>