@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="studentListGrid">
    <table class="grdTbl">
        <thead class="grdTblHead">
            <tr>
                <th><a href="#" onclick="window.reportApp.eW.Dashboard.StudentDataGrid.Sort('Title')" class="sortCol">@Html.KnockoutHelperFor("Title", "p")</a></th>
                <th><a href="#" onclick="window.reportApp.eW.Dashboard.StudentDataGrid.Sort('ZipCode')" class="sortCol">@Html.KnockoutHelperFor("ZipCode", "p")</a></th>
                <th>@Html.KnockoutHelperFor("Address", "p")</th>
                <th>@Html.KnockoutHelperFor("StartDate", "p")</th>
                <th>tesr</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: window.reportApp.eW.Dashboard.StudentDataGrid.DataRows">
            <tr>
                <td data-bind="text: Title"></td>
                <td data-bind="text: ZipCode"></td>
                <td data-bind="text: City.Name"></td>
                <td data-bind="text: City.Address"></td>
                 <td>
                    <button data-bind="click: function () { alert(); $root }">Edit</button>
                    <button>Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagerWrap">
        <ul class="grdLinePager">
            <li class="liBgFirst"><a href="#" onclick="window.reportApp.eW.Dashboard.StudentDataGrid.FlipPage(1)"></a></li>
            <li class="liBgPrev"><a href="#" data-bind="click: function () { window.reportApp.eW.Dashboard.StudentDataGrid.FlipPage(window.reportApp.eW.Dashboard.StudentDataGrid.GridParams.pageIndex() - 1)  }"></a></li>
            <li class="liBgCur">
                <input data-bind="value: window.reportApp.eW.Dashboard.StudentDataGrid.GridParams.requestedPage" type="text" />
                <span>of total</span>
                <span data-bind="text: window.reportApp.eW.Dashboard.StudentDataGrid.GridParams.totalPages()"></span>
                <span> pages</span>
            </li>
            <li class="liBGNext"><a href="#" data-bind="click: function () { window.reportApp.eW.Dashboard.StudentDataGrid.FlipPage(window.reportApp.eW.Dashboard.StudentDataGrid.GridParams.pageIndex() + 1) }"></a></li>
            <li class="liBGLast"><a href="#" data-bind="click: function () { window.reportApp.eW.Dashboard.StudentDataGrid.FlipPage(window.reportApp.eW.Dashboard.StudentDataGrid.GridParams.totalPages()) }"></a></li>
        </ul>
        <div class="pagerNumWrap">
            <span># of rows in page </span>
            <select data-bind="options: window.reportApp.eW.Dashboard.StudentDataGrid.GridParams.pageSizeOptions, value: window.reportApp.eW.Dashboard.StudentDataGrid.SelectedPageSizeOption "></select>
        </div>
        <!--this is for demo only. unhide it in style to view -->
        <ul class="grdPager" data-bind="foreach: new Array(window.reportApp.eW.Dashboard.StudentDataGrid.GridParams.totalPages())" style="display:none">
            <li><a href='#' data-bind="click: function () { window.reportApp.eW.Dashboard.StudentDataGrid.FlipPage($index() + 1) }, text: ($index() + 1), style: { color: ($index() + 1) == window.reportApp.eW.Dashboard.StudentDataGrid.GridParams.pageIndex() ? 'black' : 'blue' } "></a></li>
        </ul>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">

        window.reportApp.eW.Dashboard = window.reportApp.eW.Dashboard || {};
        window.reportApp.eW.Dashboard.StudentDataGrid = new window.reportApp.eW.DataGridAjax('/Report/GetStudentList', 10);
   
        window.reportApp.eW.Dashboard.Init = function () {
            window.reportApp.eW.Dashboard.StudentDataGrid.GetData();
            window.reportApp.eW.Dashboard.StudentDataGrid.DataRows.language = languageModel(availableLanguages);

            ko.applyBindings(window.reportApp.eW.Dashboard.StudentDataGrid.DataRows);
        };
        window.reportApp.eW.Dashboard.Init();

    </script>
}

@Scripts.Render("~/bundles/Report")