@using TP1.Helpers
@model TP1.Models.LoginModel


<div class="well-lg">
    @Html.KnockoutHelperFor("LogIn", "h3")
</div>

@using (Html.BeginForm("JsonLogin", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="col-md-1">@Html.KnockoutHelperFor(m => m.UserName)</div>
        <div class="col-md-2">@Html.TextBoxFor(m => m.UserName, new { autofocus = "autofocus", id = "loginName", @class = "form-control" })</div>
        <div class="col-md-1">@Html.ValidationMessageFor(m => m.UserName)</div>
    </div>
    <div class="row">
        <div class="col-md-1">@Html.KnockoutHelperFor(m => m.Password)</div>
        <div class="col-md-2">@Html.PasswordFor(m => m.Password, new { @class = "form-control" })</div>
        <div class="col-md-1">@Html.ValidationMessageFor(m => m.Password)</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">@Html.CheckBoxFor(m => m.RememberMe)@Html.KnockoutHelperFor(m => m.RememberMe)</div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <input type="submit" data-bind="value: langModule().language().LogIn" class="btn btn-primary"/>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.ValidationSummary()</div>
    </div>
}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">

        @Html.KnockoutHelperFor("FirstTimeHere", "span")<a id="showRegister">@Html.KnockoutHelperFor("SignUp")</a>
    </div>
    <div class="col-md-1"></div>
</div>