@using TP1.Helpers
@if (@User.Identity.IsAuthenticated)
{
    @Html.Partial("~/Views/Report/_Index.cshtml")
}
else
{
    <div class="container">
        <div class="container" id="loginPanel">
            @Html.Partial("_Login")
        </div>

        <div class="container" id="registerPanel">
            @Html.Partial("_Register")
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            ko.validation.configure({
                registerExtenders: true,
                messagesOnModified: true,
                insertMessages: false,
                parseInputAttributes: true,
                messageTemplate: null
            });

            var context = window.project.datacontext();
            var grid = new gridModel(context.getProjectLists);
            var lang = new languageModel(availableLanguages);
            var project = window.project.projectViewModel(context);
            var viewModel = new ApplicationViewModel(context, lang, grid, project);
            viewModel.errors = ko.validation.group(viewModel.Project);
            ko.applyBindings(viewModel);

            initSpinner();
        });
    </script>
}


@Scripts.Render("~/bundles/Report")