@model TP1.Models.LoginModel
@{
    ViewBag.Title = "My Todo List";
}
@functions{

    /// <summary>
    ///     The get anti forgery token.
    /// </summary>
    /// <returns>
    ///     The <see cref="string" />.
    /// </returns>
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<header>
    @Html.KnockoutHelperFor("SiteName", "h1")
</header>

<div id="main-content">
    @if (@User.Identity.IsAuthenticated)
    {
        <input type="text" data-bind="value: $root.DateFrom" />
        <input type="text" data-bind="value: $root.DateTo" />
        <button data-bind="click: $root.tryExport">Export</button>
        <button data-bind="click: $root.add">Add</button>
        <table id="products1" data-bind="visible: displayGrid">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>@Html.KnockoutHelperFor("Title", "p")</th>
                    <th>@Html.KnockoutHelperFor("ZipCode", "p")</th>
                    <th>@Html.KnockoutHelperFor("City", "p")</th>
                    <th>@Html.KnockoutHelperFor("DateAdded", "p")</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Products">
                <tr>
                    <td data-bind="text: Id"></td>
                    <td data-bind="text: Title"></td>
                    <td data-bind="text: ZipCode"></td>
                    <td data-bind="text: City.Name"></td>
                    <td data-bind="text: DateAdded"></td>
                    <td>
                        <button data-bind="click: $root.edit">Edit</button>
                        <button data-bind="click: $root.delete">Delete</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td>footer</td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <br />
        <div style="border-top: solid 2px  #282828; width: 430px; height: 10px">&nbsp;</div>
        <div data-bind="visible: displayForm">
            <div data-bind="if: Project">
                <div>
                    <h2>Update Product</h2>
                </div>
                <div>
                    <label for="productId" data-bind="visible: false">ID</label>
                    <label data-bind="text: Project().Id, visible: false"></label>

                </div>
                <div>
                    <label for="title">@Html.KnockoutHelperFor("Title", "p")</label>
                    <input data-bind="value: Project().Title" type="text" title="Name" />
                </div>

                <div>
                    <label for="name">@Html.KnockoutHelperFor("ZipCode", "p")</label>
                    <input data-bind="value: Project().ZipCode" type="text" title="Name" />
                </div>

                <div>
                    <label for="category">@Html.KnockoutHelperFor("City", "p")</label>
                    <input data-bind="value: Project().City.Name" type="text" title="Category" />
                </div>
                <br />
                <div>
                    <button data-bind="click: $root.update">Update</button>
                    <button data-bind="click: $root.cancel">Cancel</button>

                </div>
            </div>

            <div data-bind="ifnot: Project()">
                <div>
                    <h2>Add New Product</h2>
                </div>
                <div>
                    <label for="title">@Html.KnockoutHelperFor("Title", "p")</label>
                    <input data-bind="value: $root.Title" type="text" title="Name" />
                </div>

                <div>
                    <label for="zipcode">@Html.KnockoutHelperFor("ZipCode", "p")</label>
                    <input data-bind="value: $root.ZipCode" type="text" title="Category" />
                </div>

                <div>
                    <label for="city">@Html.KnockoutHelperFor("City", "p")</label>
                    <!--  <input data-bind="value: $root.City.Name" type="text" title="Price" />-->
                </div>
                <br />
                <div>
                    <button data-bind="click: $root.create">Save</button>
                    <button data-bind="click: $root.reset">Reset</button>
                    <button data-bind="click: $root.cancel">Cancel</button>
                </div>
            </div>
        </div>

        <div data-bind="visible: displayExport">
            <div>
                <div>
                    <h2>Export projects</h2>
                </div>
                <div>
                    <label for="email">@Html.KnockoutHelperFor("Email", "p")</label>
                    <input data-bind="value: $root.Email" type="text" title="Email" name="email" />
                </div>
                <br />
                <div>
                    <button data-bind="click: $root.export">Export</button>
                    <button data-bind="click: $root.hideExport">Cancel</button>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="todoList" id="loginPanel">
            <section id="localLoginPanel">
                @Html.KnockoutHelperFor("LogIn", "h2")
                @Html.Partial("_Login")
            </section>
            <section id="socialLoginPanel">
                @Html.KnockoutHelperFor("AnotherLoginServiceTitle", "h2")
                @Html.KnockoutHelperFor("AnotherLoginServiceText")
                <!-- @Html.Action("ExternalLoginsList", "Account", new { ViewBag.ReturnUrl })-->
            </section>
            @Html.KnockoutHelperFor("FirstTimeHere", "p")  <a id="showRegister">@Html.KnockoutHelperFor("SignUp")</a>
        </div>
        <div class="todoList" id="registerPanel">
            <h2>Sign up</h2>
            @Html.Partial("_Register")
            @Html.KnockoutHelperFor("AlreadySignedUp", "p")  <a id="showLogin">@Html.KnockoutHelperFor("LogIn") </a>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        var viewModel = new ReportViewModel();
        viewModel.Language = languageModel(availableLanguages);
        ko.applyBindings(viewModel);
    </script>
}

@Scripts.Render("~/bundles/Report")