@using TP1.Helpers
@if (@User.Identity.IsAuthenticated)
{
    @Html.Partial("~/Views/Report/_Index.cshtml")
}
else
{
    <div id="loginPanel">
        <section id="localLoginPanel">
            @Html.KnockoutHelperFor("LogIn", "h2")
            @Html.Partial("_Login")
        </section>
        @Html.KnockoutHelperFor("FirstTimeHere", "p")  <a id="showRegister">@Html.KnockoutHelperFor("SignUp")</a>
    </div>
    <div id="registerPanel">
        @Html.KnockoutHelperFor("SignUp", "h2")
        @Html.Partial("_Register")
        @Html.KnockoutHelperFor("AlreadySignedUp", "p")  <a id="showLogin">@Html.KnockoutHelperFor("LogIn") </a>
    </div>
}

@section Scripts {
       <script type="text/javascript">
           var context = window.reportApp.datacontext();
           var grid = new gridModel(context.getProjectLists);
           var viewModel = new ReportViewModel(context, languageModel(availableLanguages), grid);
           ko.applyBindings(viewModel);
    </script>
}

@Scripts.Render("~/bundles/Report")