@if (@User.Identity.IsAuthenticated)
{
    @Html.Partial("~/Views/Report/_Index.cshtml")
}
else
{
    <div id="loginPanel">
        <section id="localLoginPanel">
            @Html.KnockoutHelperFor("LogIn", "h2")
            @Html.Partial("_Login")
        </section>
        @Html.KnockoutHelperFor("FirstTimeHere", "p")  <a id="showRegister">@Html.KnockoutHelperFor("SignUp")</a>
    </div>
    <div id="registerPanel">
        <h2>Sign up</h2>
        @Html.Partial("_Register")
        @Html.KnockoutHelperFor("AlreadySignedUp", "p")  <a id="showLogin">@Html.KnockoutHelperFor("LogIn") </a>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        var viewModel = new ReportViewModel(window.reportApp.datacontext());
        viewModel.Language = languageModel(availableLanguages);
        viewModel.Grid(gridModel(window.reportApp.datacontext.getProjectLists));
    //    window.reportApp.datacontext.getProjectLists(gridModel.searchOptions, viewModel.Projects, viewModel.Grid().totalCount);
        ko.applyBindings(viewModel);
    </script>
}

@Scripts.Render("~/bundles/Report")