@using TP1.Helpers
@if (@User.Identity.IsAuthenticated)
{
    @Html.Partial("~/Views/Report/_Index.cshtml")
}
else
{
    <div class="container">
        <div class="container" id="loginPanel">
            @Html.Partial("_Login")
        </div>

        <div class="container" id="registerPanel">
            @Html.Partial("_Register")
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            ko.validation.rules.pattern.message = 'Invalid.';

            ko.validation.configure({
                registerExtenders: true,
                messagesOnModified: true,
                insertMessages: true,
                // errorElementClass: "has-error",
                // errorMessageClass: "has-error",
                decorateElement: true,
                parseInputAttributes: true,
                messageTemplate: null
            });

            var context = window.reportApp.datacontext();
            var grid = new gridModel(context.getProjectLists);

            var viewModel = new ReportViewModel(context, languageModel(availableLanguages), grid);
            viewModel.errors = ko.validation.group(viewModel.Project);
            ko.applyBindings(viewModel);
        });
    </script>
}

@Scripts.Render("~/bundles/Report")